<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.tagline}}</mat-card-subtitle>
    </mat-card-header>
    <div class="caja-imagen">
      <img class="imagen" mat-card-image src={{item.image_url}} alt={{item.name}}>
    </div>

    <mat-card-content>
      <div>
        <p>
          {{item.description}}
        </p>
      </div>

      <mat-divider></mat-divider>
      <div class="columnas">
        <div class="columna">
          <div class="tablaInfo">
            <p>ABV: </p>
            <p>{{item.abv}} </p>
          </div>
          <div class="tablaInfo">
            <p>Atenuation level: </p>
            <p>{{item.attenuation_level}}</p>
          </div>

          <div class="tablaInfo">
            <p>Srm: </p>
            <p>{{item.srm}} </p>
          </div>
          <div class="tablaInfo">
            <p>Ebc: </p>
            <p>{{item.ebc}}</p>
          </div>
          <div class="tablaInfo">
            <p>Brewed: </p>
            <p>{{item.first_brewed}}</p>
          </div>
          <div class="tablaInfo">
            <p>Contributed:  </p>
            <p>{{item.contributed_by}}</p>
          </div>
        </div>

        <div class="columna">
          <div class="tablaInfo">
            <p>ABV: </p>
            <p>{{item.abv}}</p>
          </div>
          <div class="tablaInfo">
            <p>Ibu: </p>
            <p>{{item.ibu}}</p>
          </div>
          <div class="tablaInfo">
            <p>Ph: </p>
            <p>{{item.ph}}</p>
          </div>

          <div class="tablaInfo">
            <p>Fg: </p>
            <p>{{item.target_fg}}</p>
          </div>
          <div class="tablaInfo">
            <p>Og: </p>
            <p>{{item.target_og}}</p>
          </div>
        </div>



      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-tab-group>
      <mat-tab label="Ingredients">

        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hops
              </mat-panel-title>
              <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="hops" *ngFor="let hop of item.ingredients.hops">
              <div>
                <p>Name: {{hop.name}}</p>
              </div>
              <div>
                <p>Add: {{hop.add}}</p>
              </div>
              <div>
                <p>Amount: {{hop.amount.value}} {{hop.amount.unit}}</p>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Malt
              </mat-panel-title>
              <!-- <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="hops" *ngFor="let hop of item.ingredients.malt">
              <div>
                <p>Name: {{hop.name}}</p>
              </div>
              <div>
                <p>Amount: {{hop.amount.value}} {{hop.amount.unit}}</p>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
      <mat-tab label="Method">


        <div class="hops">
          <div>
            <p>Fermentation: {{item.method.fermentation.temp.value}} {{item.method.fermentation.temp.unit}}</p>
          </div>
          <div>

            <div *ngFor="let item of item.method.mash_temp">
              <p>Mash temp: {{item.temp.value}} {{item.temp.unit}}</p>
              <p *ngIf="item.duration">Mash duration: {{item.duration}} </p>
            </div>

            <div class="tablaInfo">
              <p>Tips: </p>
              <p>{{item.brewers_tips}}</p>
            </div>
          </div>
          <div>
            <p *ngIf="item.method.twist">twist: {{item.method.twist}}</p>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Food pairing">
        <div class="hops">
          <div *ngFor="let item of item.food_pairing">
            <p>- {{item}}</p>

          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
