<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>{{recipe.tagline}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{recipe.image_url}} alt={{recipe.name}}>
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>

    <div class="columnas">
      <div class="columna">
        <div class="tablaInfo">
          <p>ABV: </p>
          <p>{{recipe.abv}} </p>
        </div>
        <div class="tablaInfo">
          <p>Atenuation level: </p>
          <p>{{recipe.attenuation_level}}</p>
        </div>

        <div class="tablaInfo">
          <p>Srm: </p>
          <p>{{recipe.srm}} </p>
        </div>
        <div class="tablaInfo">
          <p>Ebc: </p>
          <p>{{recipe.ebc}}</p>
        </div>
        <div class="tablaInfo">
          <p>Brewed: </p>
          <p>{{recipe.first_brewed}}</p>
        </div>
        <div class="tablaInfo">
          <p>Tips: </p>
          <p>{{recipe.brewers_tips}}</p>
        </div>
      </div>

      <div class="columna">
        <div class="tablaInfo">
          <p>ABV: </p>
          <p>{{recipe.abv}}</p>
        </div>
        <div class="tablaInfo">
          <p>Ibu: </p>
          <p>{{recipe.ibu}}</p>
        </div>
        <div class="tablaInfo">
          <p>Ph: </p>
          <p>{{recipe.ph}}</p>
        </div>

        <div class="tablaInfo">
          <p>Fg: </p>
          <p>{{recipe.target_fg}}</p>
        </div>
        <div class="tablaInfo">
          <p>Og: </p>
          <p>{{recipe.target_og}}</p>
        </div>
        <div class="tablaInfo">
          <p>Contributed by: </p>
          <p>{{recipe.contributed_by}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-tab-group>
    <mat-tab label="Ingredients">

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hops
            </mat-panel-title>
            <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div class="hops" *ngFor="let hop of recipe.ingredients.hops">
            <div>
              <p>Name: {{hop.name}}</p>
            </div>
            <div>
              <p>Add: {{hop.add}}</p>
            </div>
            <div>
              <p>Amount: {{hop.amount.value}} {{hop.amount.unit}}</p>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Malt
            </mat-panel-title>
            <!-- <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div class="hops" *ngFor="let hop of recipe.ingredients.malt">
            <div>
              <p>Name: {{hop.name}}</p>
            </div>
            <div>
              <p>Amount: {{hop.amount.value}} {{hop.amount.unit}}</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-tab>
    <mat-tab label="Method">


      <div class="hops">
        <div>
          <p>Fermentation: {{recipe.method.fermentation.temp.value}} {{recipe.method.fermentation.temp.unit}}</p>
        </div>
        <div>

          <div *ngFor="let item of recipe.method.mash_temp">
            <p>Mash temp: {{item.temp.value}} {{item.temp.unit}}</p>
            <p>Mash duration: {{item.duration}} </p>
          </div>

        </div>
        <div>
          <p *ngIf="recipe.method.twist">twist: {{recipe.method.twist}}</p>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Food pairing">
      <div class="hops">
        <div *ngFor="let item of recipe.food_pairing">
          <p>- {{item}}</p>

        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</mat-card>
